.row
  .large-9.columns
    %article
      .row
        .large-6.columns.figure
          = image_tag "http://farm9.staticflickr.com/8529/8680501351_c02ae69cf4.jpg"
          .cite
            Green hills of Ventana Wilderness
        .large-6.columns
          %p
            After a wonderful night's sleep in a surprisingly quiet camp, we started our 7:30AM journey
            through the Ventana Wilderness. Wildflowers were in full rage mode and the hills were rolling.
            The hike itself isn't too terribly bad and I highly suggest only doing it in a day since
            it's a satisfying day hike (I've backpacked this before and the backpackers camp is a shit show).
      .row
        .large-12.columns
          %p
            The hot springs are setup with sand bags and it's your choice of the litter.
            We were fortunate to get there on a Monday so the crowds were sparse. After a refreshing
            bath we treated ourselves to some cheese and crackers. Afterwards we ventured out through the
            early summer heat and managed to finish at a tad bit over 6 hours.
  %aside.large-3.columns
    %p
      = link_to 'See more photos', 'http://www.flickr.com/photos/95201160@N04/sets/72157633351225246/'
    %ul.square
      %li Location: Ventana Wilderness
      %li Distance: 21 miles
      %li Weather: 80F
