.row
  .large-9.columns
    %article
      .row
        .large-6.columns
          %p
            What more can I say about Disneyland. It's magical, everything's perfect, the food is deep fried,
            and the rides are tight. Given that it was only a Wednesday, with the park hopper to Calfornia Adventure
            we easily hit up all the rides in a day.
          %p
            Food time was engaged at Blue Bayou for an expensive deep fried Monti Cristo sandwich and miniscule
            size (in comparizon) piece of chicken.
        .large-6.columns.figure
          = image_tag 'http://farm9.staticflickr.com/8382/8680616163_6e79c02d5e.jpg'
          .cite
            The magic of Disney
      .row
        .large-12.columns
          %p
            Our before park opening arrival and after park closing departure was highlighted by "World of
            Colors", a 30 minute water/light/fire show that runs through every Disney movie ever created.
            It's an intense experience that is insanely beautiful.
      .row
        .large-12.columns
          %p
            The next day we ran from Venice Beach and to Santa Monica for a brisk ten miler with a cooldown of
            pull ups at Muscle Beach. That's about all the time I can spare; next up is dirtbag city Joshua Tree.


  %aside.large-3.columns
    %p
      = link_to 'See more photos', 'http://www.flickr.com/photos/95201160@N04/sets/72157633335862761/'
