.row
  .large-9.columns
    %article
      .row
        .large-6.columns
          %p
            I won't say too much about the aquarium. Heading on Día del Niño (Day of the Little Boy) was
            the worst choice ever. Too many stupid kids tapping on the glass, illegal flash photography,
            iPads blocking everyone's views...man people suck.
          %p
            If you're ever in Monterey, go to the Mirror Maze. $15 will get you an all day pass to run
            around a maze of mirrors with 3-D glasses and bitchin' techno music. You're sure to
            have a good time and a bruised elbow.

        .large-6.columns.figure
          = image_tag 'http://farm9.staticflickr.com/8529/8681591186_5c7359c44c.jpg'
          .cite
            Dude, the mirror maze is way better.

  %aside.large-3.columns
    %p
      = link_to 'See more photos', 'http://www.flickr.com/photos/95201160@N04/sets/72157633335622309'
