.row
  .large-9.columns
    %article
      .row
        .large-12.columns
          %p
            Enroute on our six hour drive to Lala land (apparently no one calls it that but me), we made
            a couple stops to break the trip up. First was the quirky Madonna Inn that everyone has raved about. Our
            experience was limited to merely a 10AM cocktail and brunch but the architecture was wild
            and they embrace the colour pink there. If you ever make a trip down there, take a gander at the
            men's urinal in the downstairs bathroom...it's pretty sweet.

      .row
        .large-6.columns.figure
          = image_tag 'http://farm9.staticflickr.com/8544/8681608896_a4a7718506.jpg'
          .cite
            Beast
        .large-6.columns
          %p
            After that we ate more of the California 1 coastline and had a spontaneous stop off at
            Piedras Blancas where hundreds of elephant seals took back the beach from the humans. These guys
            piled on top of each other and barked constantly. Certainly a lovely surprise on an overcast
            day through the most beautiful coastline in America.
      .row
        .large-12.columns
          %p
            We hit up Santa Barbara to for a ten mile run to stretch out the legs after the
            strenuous hike. Starting at Goleta State Park right on the beach, we ran down the sand bluffs
            next to UC Santa Barbara, a gorgeous campus with the greenest most perfectly trimmed grass. The
            school certainly has a thing for non-motorized transportation as their was an endless amount of bikes
            and skateboards everyone we went. No pictures were taken here because it's too pretty and most of the time was
            spent taking shits around town.

          %p
            The last stop was Lala land. My old roommate and great friend hooked us up with our first shower
            in a couple days (thanks man). We went to Bossa Nova for some Brazillian Cuisine, filled our
            tummies and took a great nap.

  %aside.large-3.columns
    %p
      = link_to 'See more photos', 'http://www.flickr.com/photos/95201160@N04/sets/72157633335628385'
