.row
  .large-12.columns
    %h2
      Tell you what this all about
    %article
      %p
        Summer is coming and with it brings new opportunities for exploration.
        This website will chronicle my trip traveling around the states and Canada
        with a primary focus on everything outdoors. I will try my best to update this
        website about once a week but I don't want it to be distraction to fun.
      %p
        When planning a trip, I am typically very thorough. It would be a disappointment for me
        to not do adequate research and miss out on an epic side trail. Sure, spontaneity should
        be encouraged since the thrill of life is surprises and those moments will occur, yet
        I want provide the optimal amount of variety and not have to end it all and say
        "I wish I had seen that". Hence, my write ups will be focused primarily on the
        statistically aspect of a trip.  Anything more will be a bonus.

      %p
        There will be graphic and foul content because I'd rather not cheapen to a censored
        version of what life on the road for a summer is like. Sorry mom, but J.D. Salinger
        is my favorite author.

      %h3
        The Melting Pot
      .row
        .large-6.columns
          %p
            The first stint will be a 30 day trek from California back to the land of
            pork roll, egg, and cheese...New Jersey.
            My good friend Brian Quilty and I will travel via a 21 year old Buick Skylark
            making pit stops in the desert, mountains, and a couple cities here and there.
          %p
            Both of us ran competively throughout high school and college and are still competing today.
            We have planned some fairly ambitious trips to ensure we maximize our time out there since
            we can hang for long extended hikes and move quickly. Although the park rangers at the
            #{link_to 'Grand Canyon are not impressed', image_path('about/grand_canyon_permit.jpg')},
            we're both very confident in our fitness.
        .large-6.columns
          = image_tag 'about/south_kelsey_trail.jpg', title: 'Hiking along the South Kelsey Trail last winter.'
      .row
        .large-4.columns
          = image_tag 'about/fuck_running.jpg', title: 'Dude...fuck running..running sucks.'
        .large-8.columns
          %p
            Somewhere in the desert, we'll pick up a goon in an orange sweater.
            The guy says he's in pretty good shape, knows how to give great "would you rathers...",
            and goes by the name Mike. Considering the number of Mikes in the car will be zero prior to his pickup,
            he'll fit in just fine.
          %p
            Weeks and weeks will go by of dirtbagging through America accumulating the stench of a dead racoon
            and we'll persistently fight to finish the trip surviving off of peanut butter and jelly sandwiches
            complimented with two buck chucks. We may not do exactly as the trip is planned,
            but we'll always find some way to make up for it.
            If cliff diving at #{link_to 'Casa Bonita', 'http://www.casabonitadenver.com/'} is on the itinerary and
            we get blocked by a mariachi band at the rock steps, then we had better dance
            our asses off.
          %p
            On May 19th, with great fortune and luck we'll find ourselves in a jungle. Inhabited by
            24 hour diners, 24 hour Wawas, and for all I know at this point, 24 hour fitnesses.
            After taking a short rest, I'll fly back to California with a butt load of souveneirs
            and embark on another road trip.
      %h3
        Road trip #2, eh?
      %p
        The second road trip will be bound some place up north. How north?
        Well, if all goes well, I'll make it deep into Canada and take the first right
        at the polar bear. However, this all too far in advance to make any firm
        decisions.
