.row
  .large-12.columns
    %h2
      Throw out some statistics
    %p
      I intend to put some interesting statistics here like how many miles were hiked
      or how many times we stopped at In-N-Out. For now, it's just a summary of the gear.

  .large-12.columns
    %h3 Backpacking
    %p
      After many wonderful yet back-breaking backpacking trips, I've learned to keep my pack
      as light as possible. #{link_to 'Andrew Surka', 'http://andrewskurka.com'} is my idol
      and I can only hope to coming close to the amount of detail he puts into his planning.

    %p The necessities:
    %ul.square
      %li Gregory 38L Savant backpack (3lbs, 2oz)
      %li Black Diamond Storm headlamp (3.9 oz)
      %li REI Igneo 19&#176;F sleeping bag (1lb 15oz)
      %li Thermarest Z Lite sleeping pad (14oz)
      %li Thermarest compressible pillow (9oz)

    %p Optional depending on the trip:
    %ul.square
      %li MSR SweetWater Purifier (14oz)
      %li MSR Reactor 1L Stove (14.7oz)
      %li Ozark Trail 4P Tent (~8lbs)
      %li Garcia bear canister (2lbs, 12oz)
    %h3 Climbing
    %p
      We're going to be climbing at Joshua Tree and Red Rocks. Since I'm the only one with
      any climbing experience, it'll be limited to top roping only for safety reasons.
      But I'm bringing the quickdraws just in case I can make a friend who can sport belay.
    %ul.square
      %li 1 x 70m Mammut Tusk rope (9.8mm)
      %li 6 x Black Diamond Posire quickdraws
      %li 4 x Black Diamond biners (small)
      %li 2 x Petzl biners (large)
      %li 1 x Metolius Anchor Chain
      %li 1 x Metolius Personal Anchor System
      %li 1 x Mammut 8mm cordelette
