.row.itinerary
  .large-12.columns
    %h2 See the seahorses at the Monterey Bay Aquarium
= render 'published_itineraries/monterey'
.row.itinerary
  .large-12.columns
    %h2 Backpack to the Big Sur hot springs
= render 'published_itineraries/big_sur'
.row.itinerary
  .large-12.columns
    %h2 Run the beaches of Santa Barbara
= render 'published_itineraries/santa_barbara'
.row.itinerary
  .large-12.columns
    %h2 Get a photo with Mickey at Disneyland
= render 'published_itineraries/disneyland'
